{% extends "layout.html" %}
{%block navbar%} {{ super() }} {%endblock%}
{% block content %}

<div id="blog">
    <div class="container">
            <h3>List of all Clusters</h3>

     </div>
</div>
</hr>
</br>
<table class="table table-striped">
<thead>
<tr>
    <th>Name</th>
    <th>User</th>
    <th>Description</th>
    <th>Assigned to Cluster</th>
    <th>Status</th>
</tr>
</thead>
<tbody>
{%for clist in clusterlist%}
<tr>
    <td>{{clist.VMids}}</td>
    <td>{{clist.user}}</td>
    <td>{{clist.created_at}}</td>
    <td>{{clist.status}}</td>
</tr>
{%endfor%}
</tbody>
</table>
{%endblock%}
