[DEFAULT]
default_image_id=ami-xxxxxxx
priority=0
user=ubuntu
name=openstack

[auth]
ec2_url=http://ipaddress:8773/services/Cloud
ec2_access_key=xxxxxx
ec2_secret_key=xxxxxx
ec2_region=xxxx

[quota]
instances=10
vcpus=20
ram=15000

[flavors]
t1.micro=1,613
m1.small=1,1700
m1.medium=2,3700
m1.large=4,7500
